<form [formGroup]="newTaskForm" (ngSubmit)="sendFormBtn()">
    <app-input
        label="Título"
        name="title"
        id="title"
        placeholder="Título da task"
        [required]="true"
        formControlName="title"
    ></app-input>
    <app-input
        label="Descrição"
        name="description"
        id="description"
        placeholder="Descrição da task"
        formControlName="description"
    ></app-input>
    <app-button
        text="Salvar task"
        (handleClick)="sendFormBtn()"
        [disabled]="newTaskForm.invalid"
    ></app-button>
</form>