@use '../../../assets/styles/variables' as *;

.task-form {
  width: 100%;
  margin-bottom: 24px;
    &__btn {
        display: flex;
        align-items: center;
    }

    &__success-message {
        margin: 0 0 0 12px;
      padding: 8px 0;
      display: flex;
      align-items: center;
      color: $secondary-color;
      opacity: 1;
      animation: fadeOut 0.5s ease-in-out 2.5s forwards;
    }    
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}