
<app-header pagename="Criar Task"></app-header>
<form [formGroup]="newTaskForm" (ngSubmit)="addTaskBtn()" class="task-form">
    <app-input
        label="Título"
        name="title-new-task"
        id="title-new-task"
        placeholder="Título da task"
        [required]="true"
        formControlName="title"
    ></app-input>
    <app-textarea
        label="Descrição"
        name="description"
        id="description"
        placeholder="Descrição da task"
        formControlName="description"
    ></app-textarea>
    <div class="task-form__btn">
        <app-button
            text="Salvar task"
            [disabled]="newTaskForm.invalid"
        ></app-button>
        <div *ngIf="successMessage" class="task-form__success-message">
            <mat-icon>check_circle</mat-icon>
            {{ successMessage }}
        </div>
    </div>
</form>

<app-button
        text="Lista de tarefas"
        type="secondary"
        (click)="backTasksListBtn()"
></app-button>