<section>
    <ul>
        <li>
            <div>
                <h2>Título</h2>
                <p>Descrição</p>
            </div>
            <div>
                <mat-icon>home</mat-icon>
                <p>status</p>
            </div>
            <div>
                <form>
                    <input type="checkbox" name="task-done" id="task-done">
                    <label for="task-done">Concluída</label>
                </form>
                <app-button icon="home" type="icon" (handleClick)="testClick()"></app-button>
            </div>
        </li>
    </ul>
</section>
