<section>
    <ul class="task-list">
        <li *ngFor="let task of taskList" [ngClass]="['task-list__item', task.completed ? 'task-list__item--done' : 'task-list__item--doing']">
            <div class="task-list__item-text">
                <h2>{{ task.title }}</h2>
                <p>{{ task.description }}</p>
            </div>
            <div class="task-list__item-actions">
                <form [formGroup]="statusForm">
                    <app-input
                        [label]="task.completed ? 'Concluída' : 'Pendente'"
                        type="checkbox"
                        name="status"
                        id="status"
                        [checked]="task.completed"
                        formControlName="status"
                        (change)="toggleStatus(task.id)"
                    ></app-input>
                </form>
            <app-button 
                icon="delete" 
                type="icon" 
                (handleClick)="removeTask(task.id)"
            ></app-button>
            </div>
        </li>
    </ul>

    <app-button
        text="Adicionar tarefa"
        type="secondary"
        (click)="addNewTaskBtn()"
    ></app-button>
</section>
