<div class="input">
    <label [for]="id" class="input__label">
        {{ label }} 
        <span *ngIf="required" class="input__label--span">*Campo obrigatório</span>
    </label>
    <input 
        class="input__input-area"
    [type]="type"
    [name]="name"
    [id]="id"
    [value]="type !== 'checkbox' ? value : null"
    [checked]="type === 'checkbox' ? checked : null"
    [placeholder]="placeholder"
    [required]="required"
    (input)="type !== 'checkbox' && onInputChange($event)"
    (change)="type === 'checkbox' && onCheckboxChange($event)"
    />
</div>